/* CSS declarations go here */

.w100
  width 100%

.bottom
  position absolute
  bottom 0

.room
  height 100%
  background white
  position relative

.header
  h1
    margin 10px 20px

#content
  position absolute
  padding 0 1%
  top 60px
  bottom 0
  left 0
  right 0
  overflow-y auto

div.bottom-buttons
  background white
  padding-top 10px
  height 37px
  width 100%

  .span1
    margin-left 1.5%
    width 7%

.bottom-buttons-inner
  position relative

.input-wrapper
 position absolute
 left 10px
 right 130px

#input
  width 100%

.submit-wrapper
  position absolute
  right 10px
  width 100px

#submit
  min-width 100px
  width 90%
  margin-right 10%

hr.separator
  position absolute
  bottom 47px
  width 100%
  margin 0

.message
  border-bottom 1px solid #dcdcdc
  padding 5px 0

  .sender
    text-align right
    font-weight bold

.event
  color #999
  padding 5px

#people
  padding 15px 0

  .person
    margin 2px 10px

html, body, #page, .people-wrapper, .people
  height 100%

.main-row
  position absolute
  bottom 49px
  top 0
  left 0
  right 0
  overflow hidden
  background #eee
